$site_background: #ffffff;
$border_colour: #d4d4d4;

// ------------------------------------
// Background colours
// ------------------------------------
$colours: (
    _error: #dd1313,
    _success: #6dc16a,
    _warning: #efa33e,

    _title: #111111,
    _body: #484848,

    // accent
    _01_01: #0055ff,
    _01_02: #024ee7,
    _01_03: #ffffff,
    // main
    _02_01: #141414,
    _02_02: #1a1a1a,
    _02_03: #ffffff,

    // section
    _010_01: #ffffff,
);

// Light mode
:root {
    --site-bg: #{$site_background};
    --border-c: #{$border_colour};

    --error: #{map-get($colours, _error)};
    --success: #{map-get($colours, _success)};
    --warning: #{map-get($colours, _warning)};

    --section-m: #{map-get($map: $colours, $key: _010_01)};

    --title: #{map-get($map: $colours, $key: _title)};
    --body: #{map-get($map: $colours, $key: _body)};

    --accent: #{map-get($colours, _01_01)};
    --accent-h: #{map-get($colours, _01_02)};
    --accent-c: #{map-get($colours, _01_03)};

    --main: #{map-get($colours, _02_01)};
    --main-h: #{map-get($colours, _02_02)};
    --main-c: #{map-get($colours, _02_03)};
}
