@use '../settings/vars' as *;
@use '../settings/colours' as *;
@use '../functions/rem' as *;
@use '../mixins/general' as *;

a {
    @include animate;
    transition-property: color;
    text-decoration: none;
    color: var(--body);
    font-family: $font_family;
}

.link-style {
    // ------------------------------------
    // Element
    // ------------------------------------
    &__main {
    }
    &__inline {
        &:hover {
            text-decoration: underline;
            color: var(--accent);
        }
    }

    // ------------------------------------
    // Modifiers
    // ------------------------------------
}

.btn-style {
    // ------------------------------------
    // Element
    // ------------------------------------
    &__main {
        @include animate;
        transition-property: background-color, opacity;
        background-color: var(--main);
        color: var(--main-c);
        font-size: rem(16);
        border-radius: $border_radius;
        height: rem(40);
        padding: rem(10) rem(20);
        border: none;
        cursor: pointer;
        display: block;
        &--inverse {
            background-color: var(--site-bg);
            color: var(--title);
            border: rem(1) solid var(--main);
        }
        &:hover {
            background-color: var(--main-h);
            color: var(--main-c);
        }
        &:disabled {
            text-decoration: line-through;
            opacity: 0.8;
            &:hover {
                opacity: 0.9;
            }
        }
    }

    // ------------------------------------
    // Modifiers
    // ------------------------------------
}
