@use './forward.scss' as *;

.navigation-root {
    @include animate;
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    bottom: 0;
    width: rem(300);
    border-right: rem(1) solid var(--border-c);
    overflow-y: auto;
    z-index: 10;
    &__nav {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__header {
            height: rem(60);
            width: 100%;
            border-bottom: rem(1) solid var(--border-c);
            padding: 0 rem(20);
            position: relative;
        }
        ul {
            width: 100%;
            padding: rem(10) rem(0);
        }
    }
    &__link {
        @include animate;
        margin-top: rem(10);
        padding: 0 rem(20);
        position: relative;
        a {
            @include animate;
            opacity: 1;
            display: flex;
            align-items: center;
            font-size: 16;
            font-weight: 700;
            color: var(--greyed-out);
            &:hover,
            &:focus {
                color: var(--title);
                .icon {
                    background-color: var(--main);
                    color: var(--main-c);
                }
            }
            &::before {
                @include animate;
                content: '';
                position: absolute;
                left: 0;
                top: 20%;
                bottom: 20%;
                width: rem(5);
                background-color: var(--accent);
                border-radius: 0 rem(5) rem(5) 0;
                opacity: 0;
            }
            .icon {
                @include animate;
                background-color: var(--section-m);
                width: rem(35);
                min-width: rem(35);
                height: rem(35);
                display: block;
                border-radius: rem(5);
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--greyed-out);
                margin-right: rem(10);
                svg {
                    height: rem(20);
                    width: rem(20);
                }
            }
            &.active {
                color: var(--title);
                .icon {
                    color: var(--main-c);
                    background-color: var(--main);
                }
                &::before {
                    opacity: 1;
                }
            }
        }
    }
    &__toggle {
        @include animate;
        transition-property: left;
        position: fixed;
        top: rem(10);
        right: rem(20);
        height: rem(40);
        width: rem(40);
        display: none;
        z-index: 9;
        background-color: var(--main);
        border-radius: rem(5);
        border: none;
        color: white;
        svg {
            height: rem(20);
            width: rem(20);
            z-index: 2;
            position: relative;
        }
        &__overlay {
            @include animate;
            display: block;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($color: #000000, $alpha: 0.4);
            opacity: 0;
            pointer-events: none;
            z-index: 1;
        }
        &--open {
            left: calc(100vw - rem(60));
            .navigation-root__toggle__overlay {
                pointer-events: all;
                opacity: 1;
            }
        }
    }

    @include tablet {
        left: -100%;
        width: calc(100vw - rem(80));
        &--open {
            left: 0;
        }
        &__toggle {
            display: block;
        }
        &__nav {
            &__header {
                display: none;
            }
        }
    }
}
