@use '../settings/vars' as *;
@use '../settings/colours' as *;
@use '../functions/rem' as *;

.form {
    // modifiers
    // blocks
    &__error {
        background-color: var(--section-m-h);
        border-radius: $border_radius;
        padding: rem(15);
        &__title {
            color: var(--title);
            font-size: rem(16);
            font-weight: 700;
        }
        &__body {
            li {
                display: flex;
                left: rem(15);
                position: relative;
                margin-top: rem(4);
                &::before {
                    content: '';
                    display: block;
                    width: rem(6);
                    height: rem(6);
                    border-radius: $border_radius;
                    background-color: black;
                    position: absolute;
                    top: rem(7);
                    left: rem(-15);
                }
            }
        }
    }
    &__bottom-bar {
        width: 100%;
        border-top: rem(1) solid var(--border-c);
    }
}

.input {
    // ------------------------------------
    // Element
    // ------------------------------------
    &__label {
        font-size: rem(14);
        color: var(--body);
    }
    &__wrapper {
        position: relative;
        margin-bottom: rem(15);
        &:last-child {
            margin-bottom: 0;
        }
        &--error {
            .input__error {
                display: block;
            }
        }
        .input__style {
            margin-top: rem(10);
        }
        .rti--container {
            margin-top: rem(5);
            .rti--tag {
                padding: rem(5);
                background-color: var(--main);
                color: var(--main-c);
                margin-right: rem(5);
                border-radius: rem(5);
                margin-top: rem(5);
                button {
                    color: var(--main-c);
                }
            }
            input {
                margin-top: rem(10);
                height: rem(50);
                padding: 0 rem(10);
                font-size: rem(16);
                font-family: $font_family;
                border-radius: $border_radius;
                border: $border_style;
                background-color: var(--site-bg);
                width: 100%;
                position: relative;
                color: var(--title);
                font-family: $font_family;
            }
        }
    }
    &__style {
        height: rem(50);
        padding: 0 rem(10);
        font-size: rem(16);
        font-family: $font_family;
        border-radius: $border_radius;
        border: $border_style;
        background-color: var(--site-bg);
        width: 100%;
        position: relative;
        color: var(--title);
        font-family: $font_family;
        // Input
        &--i {
        }
        // Textarea
        &--t {
            height: rem(200);
            resize: none;
            padding: rem(10);
        }
        // Select
        &--s {
        }
    }
    &__error {
        display: none;
        margin-top: rem(10);
        p {
            font-size: rem(14);
            color: var(--error);
        }
    }
    &__describedby {
        margin-top: rem(10);
        font-size: rem(14);
        padding: rem(5);
        background-color: var(--section-m-h);
        border-radius: rem(5);
    }

    // ------------------------------------
    // Modifiers
    // ------------------------------------
}
