@use '../settings/vars' as *;
@use '../settings/colours' as *;
@use '../mixins/breakpoints' as *;
@use '../functions/rem' as *;
@use '../mixins/general' as *;

.main-layout {
    height: 100%;
    main {
        margin-left: rem(300);
        min-height: 100%;
    }

    @include tablet {
        main {
            margin-left: 0;
        }
    }
}
